/* ---- GENERAL SETTINGS ---- */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* --- This defines what the base font size is. --- */
  font-size: 62.5%; /* --- 1rem = 10px; 10px/16px = 62.5%  --- */
  overflow-x: hidden;
}

body {
  font-family: "Salsa", sans-serif;
  scroll-behavior: smooth;
  background-color: #333333;
  width: 100vw;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  cursor: default;
}

p {
  cursor: default;
}

li {
  cursor: default;
}

a {
  color: white;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

a:hover {
  color: black;
  font-size: 105%;
}

/* ---- REUSABLE ---- */
.btn {
  cursor: pointer;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: "Salsa", sans-serif;
  background-color: #f2994a;
}

.btn:active {
  color: white;
}

.btn-book-now {
  width: 10rem;
  height: 4rem;

  align-self: center;
  margin-bottom: 4rem;
}

.section {
  background-color: #333333;
}

.heading {
  font-size: 3rem;
  text-align: center;
  padding: 3rem 0;
  color: #f2994a;
}

/* ---- NAV ---- */

.nav-bar {
  height: 10rem;
  width: 100vw;
  background-color: #f2994a;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 9000;
  top: 0;
  left: 0;
}

.nav-bar-left {
  display: flex;
  margin-left: 8rem;
}

.nav-logo {
  height: 8rem;
  justify-self: center;
  align-self: center;
}

.nav-title {
  font-size: 3rem;
  align-self: center;
}

.nav-bar-right {
  margin-right: 12rem;
  display: flex;
}

.nav-ul {
  list-style: none;
  display: flex;
  align-self: center;
}

.nav-link {
  padding-right: 4rem;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.nav-link:hover {
  color: white;
}

.nav-link:last-child {
  padding-right: 0;
}

/* ---- HERO SECTION ---- */

.section-hero {
  height: 100vh;
  width: 100vw;
  background-image: url("/hero.jpg");
  background-position: center;
  background-size: cover;
}

.hero-rating-box {
  height: 8rem;
  width: 16rem;
  padding: 1.5rem;
  border-radius: 4px;
  border: 1px solid black;
  font-size: 2rem;
  background-color: #eb5757cb;
  position: absolute;
  top: 15%;
  left: 5%;
  cursor: default;
}

.hero-stars {
  font-size: 2.8rem;
}

.hero-text-small {
  font-size: 1.5rem;
}

.hero-pitch-box {
  height: 12rem;
  width: 35rem;
  font-size: 2.3rem;
  background-color: #f2984abd;
  position: absolute;
  top: 15%;
  right: 3%;
  padding: 1.5rem;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border: 1px solid black;
  cursor: default;
}

#hero-testimonial {
  position: absolute;
  bottom: 5%;
  right: 3%;
  height: 13rem;
}

#hero-testimonial-img {
  width: 90%;
  height: 90%;
}

#btn-book-now--hero {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  bottom: 5%;
  margin-bottom: 0;
}

/* ---- MOBILE PITCH SECTION ---- */
.section-mobile-pitch {
  background-color: #333333;
  color: #f2984a;
  display: none;
  align-items: center;
  justify-content: center;
  margin: 4rem;
}

.mobile-pitch-wrapper {
  display: grid;
  grid-template-columns: 20vw 70vw 10vw;
  grid-template-rows: 8rem 8rem 16rem;
  grid-gap: 18rem;
}

.mobile-pitch-text {
  font-size: 3rem;
  width: 75%;
}

#mobile-pitch {
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: center;
  width: 80%;
  margin: 6rem 0 0 2vw;
}

#mobile-rating {
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;
  width: 80%;
  margin: 4rem 0 4rem 2vw;
}

#mobile-testimonial {
  position: inherit;
  grid-column: 2/3;
  grid-row: 3/4;
  display: flex;
  align-self: center;
  justify-self: center;
  margin: 0 10vw 6rem 0;
  height: 14rem;
  width: 40rem;
  color: black;
}

/* ---- DORMS SECTION ---- */

.section-dorms,
.section-facilities,
.section-location {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.dorms-wrapper {
  align-self: center;
  display: grid;
  grid-template-columns: 60rem 25rem 80rem;
  grid-template-rows: 60rem;
  margin-bottom: 4rem;
}

.dorms-img {
  border: 2px solid #f2984a;
  height: 60rem;
  margin-left: 25rem;
}

.text-list {
  width: 100%;
  font-size: 2.5rem;
  font-family: "Ruluko", sans-serif;
  display: flex;
  flex-direction: column;
  align-content: center;
  color: #f2984a;
}

#dorms-text-list {
  grid-column: 3/4;
}

#dorms-text-list li {
  margin: 3rem 0;
}

/* ---- FACILITIES SECTION ---- */

/* (text left / image right) */
.facilities-textImg-wrapper {
  align-self: center;
  display: grid;
  grid-template-columns: 80rem 25rem 60rem;
  grid-template-rows: 40rem;
  margin: 4rem 0;
}

.facilities-text--left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40%;
  width: 60%;
}

.facilities-img--right {
  margin-left: 20%;
}

/* (text righ / image left) */
.facilities-imgText-wrapper {
  align-self: center;
  display: grid;
  grid-template-columns: 60rem 25rem 80rem;
  grid-template-rows: 40rem;
  margin: 4rem 0;
}

.facilities-text--right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
  width: 60%;
  grid-column: 3/4;
}

.facilities-img--left {
  margin-left: 32%;
}

/* (shared by left/right and right/left wrappers) */
.facilities-text li {
  margin: 2rem 0;
}

.facilities-img {
  height: 40rem;
  border: 2px solid #f2984a;
}

/* ---- TESTIMONIALS SECTION ---- */

.section-testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.testimonials-wrapper {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 6rem 10%;
}

.testimonial-box {
  height: 10rem;
  width: 35rem;
  padding: 2.5rem 2.5rem 5rem 2.5rem;
  margin: 0 2rem;
  border-radius: 4px;
  border: 1px solid black;
  font-family: "Ruluko", sans-serif;
  background-color: #eb5757cb;

  display: flex;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.testimonial-box--left {
  width: 40%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.testimonial-img {
  width: 100%;
  height: 110%;
  justify-self: center;
  align-self: center;
  border: 1px solid black;
  margin-right: 2rem;
  border-radius: 50%;
}

.testimonial-box--right {
  width: 80%;
  height: 100%;
  padding-left: 1rem;
}

.testimonial-text {
  font-size: 1.5rem;
  font-weight: bold;
}

.testimonial-name {
  font-size: 1.6rem;
  font-weight: bold;
  padding-top: 1rem;
  text-align: end;
  font-family: "Salsa", sans-serif;
}

/* ---- GALLERY SECTION ---- */

.section-gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-bottom: 4rem;
}

.gallery-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 40rem);
  grid-template-rows: repeat(4, 25rem);
  grid-gap: 4rem;
  justify-self: center;
  align-self: center;
}

.gal-img {
  height: 25rem;
  width: 100%;
  border: 2px solid #f2994a;
  cursor: pointer;
  filter: brightness(0.8);
  -webkit-filter: brightness(0.8);
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.gal-img:hover {
  filter: brightness(1);
  -webkit-filter: brightness(1);
  border: 2px solid white;
}

.gal-img-portrait {
  height: 54rem;
}

.gal-img1 {
  grid-column: 1/2;
  grid-row: 1/3;
}
.gal-img2 {
  grid-column: 2/3;
  grid-row: 1/2;
}
.gal-img3 {
  grid-column: 3/4;
  grid-row: 1/2;
}
.gal-img4 {
  grid-column: 2/3;
  grid-row: 2/3;
}
.gal-img5 {
  grid-column: 3/4;
  grid-row: 2/4;
}
.gal-img6 {
}
.gal-img7 {
}
.gal-img8 {
}
.gal-img9 {
}
.gal-img10 {
}

/* ---- LOCATION SECTION ---- */

.section-location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-bottom: 2rem;
}

.location-wrapper {
  display: grid;
  grid-template-columns: 50rem 20rem 60rem;
  grid-template-rows: 50rem;
  margin: 4rem 0;
  align-self: center;
}

.location-text-wrapper {
  margin-top: 13rem;
}

.location-text-wrapper p {
  margin: 2rem 0;
  align-self: center;
  justify-self: center;
}

.location-map {
  padding: 2px;
  background-color: #f2994a;
  margin: 4rem;
  width: 55rem;
  height: 45rem;
  grid-column: 3/4;
}

/* ---- CONTACT SECTION ---- */
.section-contact {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.contact-text {
  font-size: 2rem;
  color: #f2994a;
  text-align: center;
  padding-top: 1rem;
}

.contact-text:first-of-type {
  padding-top: 0;
}

.contact-text:last-of-type {
  padding-bottom: 4rem;
}

/* ---- FOOTER ---- */

.footer {
  height: 12rem;
  width: 100vw;
  background-color: #f2994a;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.foot-copyright-box {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 40rem;
  margin-right: 20rem;
}

.foot-copyright-text {
  align-self: center;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.social-box {
  align-self: center;
  justify-self: center;
}

.icon {
  height: 3rem;
  padding: 0 1rem;
  opacity: 0.8;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  cursor: pointer;
}

.icon:hover {
  opacity: 1;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.credits-box {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 80rem;
  margin-right: -7rem;
}

.sources-wrapper {
  display: flex;
  justify-self: center;
  align-self: center;
}

.sources-wrapper p {
  padding-right: 2rem;
  font-size: 1rem;
}

.sources-wrapper p:last-child {
  padding-right: 0;
}

.credits-text {
  align-self: center;
  justify-self: center;
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

/* ---- MODALS ---- */

/* -- MODAL BACKGROUND -- */
.modal-background {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100vw;
  z-index: 990;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9000;
  display: none;
}

/* -- MODAL GALLERY IMAGE -- */
.modal-gal-img {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: 9990;
  display: none;
}

.modal-gal-inner-wrapper {
  display: flex;
  flex-direction: row;
}

.port {
  width: 30vw;
  border: 2px solid #f2994a;
}

.land {
  width: 60vw;
  border: 2px solid #f2994a;
}

.btn-gal {
  color: white;
  justify-self: center;
  align-self: center;
  padding: 0 2rem;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  text-decoration: none;
  border: 2px solid transparent;
}

.btn-arrow {
  margin: 2rem;
  padding: 0 2rem;
  font-size: 4rem;
  z-index: 9999;
  color: #f2984a;
  background-color: #333333;
  border: 2px solid #f2984a;
  cursor: pointer;
}

.btn-arrow:hover {
  color: white;
  background-color: #f2984abe;
}

.btn-close-gal {
  font-size: 4rem;
  padding: 1rem 2rem;
  margin-top: 4rem;
  position: fixed;
  top: 2vh;
  right: 6vw;
  z-index: 9999;
  border-radius: 4rem;
  -webkit-border-radius: 4rem;
  -moz-border-radius: 4rem;
  -ms-border-radius: 4rem;
  -o-border-radius: 4rem;
  color: #f2984a;
  background-color: #333333;
  border: 2px solid #f2984a;
  display: none;
  cursor: pointer;
}

.btn-close-gal:hover {
  color: white;
  background-color: #f2984abe;
}

/* -- MODAL BOOK NOW POPUP -- */

.modal-text-box-popup {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background-color: #333333;
  border: 2px solid #f2984a;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 4rem;
  z-index: 9999;
  width: 25vw;
  display: none;
  align-content: center;
  justify-content: center;
}

.modal-popup-text {
  color: #f2994a;
  font-size: 2rem;
  text-align: justify;
}

.btn-close-popup {
  text-align: center;
  justify-self: center;
  align-self: center;
  padding: 1rem 2rem;
  margin-top: 4rem;
}

/* ---      font-family: font-family: 'Ruluko', sans-serif;
            font-family: 'Salsa', cursive;          --- */
